@import "~bootstrap/scss/bootstrap";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "react-toastify/dist/ReactToastify.css";
@import "node_modules/react-modal-video/css/modal-video.css";
@import "node_modules/react-18-image-lightbox/src/style.css";

@import "../../public/assets/css/flaticon.min.css";
@import "../../public/assets/css/fontawesome.min.css";
@import "../../public/assets/css/nice-select.min.css";
@import "../../public/assets/css/spacing.min.css";
@import "../../public/assets/sass/style.scss";

@font-face {
    font-family: 'Kashmir';
    font-style: normal;
    font-weight: normal;
    src: local('Kashmir Regular'), url('Kashmir.woff') format('woff');
}
.input-70s{
    background: #dfedf0  !important;
}
.title-70s {
    font-size: clamp(8rem, 4vw, 2rem);
    text-align: center;
}
.sub-title-70s {
    font-size: clamp(1.5rem, 1vw, 1rem);
    text-align: center;
    
}

@media (min-width: 1024px) {
    .title-70s {
        font-size: 10rem !important;
    }
}

@media (max-width: 767px) {
    .title-70s {
        font-size: clamp(5rem, 8vw, 2rem) !important;
    }
    .sub-title-70s {
        font-size: clamp(1rem, 1vw, 1rem) !important
        }
}

.fullscreen-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

/* Adjustments for mobile devices */
@media (max-width: 767px) {
    .fullscreen-section {
        padding: 1rem;
        
    }
}

/* Adjustments for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .fullscreen-section {
        padding: 1.5rem;

    }
}

/* Adjustments for desktops */
@media (min-width: 1024px) {
    .fullscreen-section {
        padding: 2rem;

    }
}

.qte-btnminus{
    height: 60px;
    width: 50px;
    border-radius: 10px 0px 0px 10px;
    border : 2px solid #dfedf0;
}

.qte-btnplus{
    height: 60px;
    width: 50px;
    border-radius:  0px  10px 10px 0px ;
    border : 2px solid #dfedf0;

}
.qte-btnminus:hover {
    border: 2px solid #152a2e;
}

.qte-btnplus:hover {
    border: 2px solid #152a2e;
}

.checkout-btn {
    border: 2px solid #dfedf0;
    background: #152a2e  !important;
    color:#dfedf0 !important;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;

}
.checkout-btn:hover {
    border: 1px solid #152a2e;
    background: #dfedf0  !important;
    color:#152a2e !important;
}
.checkout-btn:active {
    border: 1px solid #152a2e;
    background: #dfedf0  !important;
    color:#152a2e !important;
}
.dimmer{
    position: fixed !important;
}
.ui.segment{
    box-shadow: none !important;
    border: none !important;
}